@import "https://fonts.googleapis.com/css?family=Lily+Script+One";

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: slategray;
  color: tomato;
  height: 200%;
}

h1,
h2,
h3 {
  font-family: "Lily Script One";
  text-align: center;
}

header {
  position: sticky;
  top: 5vh;
}

footer {
  position: sticky;
  top: 95vh;
}

p {
  color: lightgrey;
  font-family: sans-serif;
  font-size: clamp(0.6rem, 5vw, 2rem);
}
