* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: slategray;
  color: black;
  font-weight: 600;
  display: grid;
  grid-template-rows: repeat(minmax(20vh, auto));
  height: 300vh;
  font-size: 20px;
}

main {
  margin: auto 0;
  padding: 5rem;
}

.box {
  background-color: white;
  border: 20px solid tomato;
  padding: 2rem;
  min-width: 70vw;
}

.box + .box {
  margin-top: 50px;
}

#box-out-of-box-parent {
  position: relative;
}

#box-out-of-box-child {
  position: absolute;
  top: 25px;
  left: calc(100vw + 200px);
  /* transform: rotate(1rad); */
}

#parent-position-box {
  height: 40vh;
}

#sticky-box {
  position: sticky;
  top: 15px;
  bottom: 50px;
}

#fixed-box {
  position: fixed;
  /* top: 50px; */
}
